<!DOCTYPE html>
<html>
<head>
  <title>Importable</title>
  <%= stylesheet_link_tag    "importable/application" %>
  <%= javascript_include_tag "importable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
