.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
uploads
spec/Sporkfile
db/*sqlite3

# if tests fail just right this could get created and not deleted
spec/dummy/app/views/moofs
