<% if @importer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@importer.errors.count, "error") %> prohibited this <%= @importer.mapper_name.humanize.downcase %> spreadsheet from being saved:</h2>

    <ul>
    <% @importer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
